# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python build artifacts
native_host/build/
native_host/__pycache__/
native_host/*.pyc
native_host/*.spec
native_host/build.spec

# Virtual environments
native_host/venv/
native_host/.venv/

# ZIP packages
*.zip
